body {
  margin: 0;
  padding: 0;
  font-family: 'AllianzNeo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'AllianzNeo';
  src: url('/src/assets/fonts/AllianzNeo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AllianzNeo';
  src: url('/src/assets/fonts/AllianzNeo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AllianzNeo';
  src: url('/src/assets/fonts/AllianzNeoW01-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AllianzNeo';
  src: url('/src/assets/fonts/AllianzNeo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
